* {color:#fefefe;margin:0;padding:0;font-family:'Roboto',sans-serif;font-weight: 200;box-sizing:border-box;}
a {text-decoration: none;}
html {overflow:hidden; height:100vh;}
body {height:100%;background-color:#EF5350;animation: colorHex 10s infinite alternate-reverse ease;}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
}
.qLineUp {
    width: 100%;
    height: 46px;
    animation: moveDown 3s infinite alternate-reverse ease-in-out;
    background-color: #f66;
    box-shadow: 0 0 10px 1px #5e0237;
}
.qLineDown {
    width: 100%;
    height: 46px;
    margin: -46px 0 0 0;
    animation: colorHex 3s infinite alternate-reverse ease-in-out;
    background-color: #f66;
    box-shadow: 0 0 10px 1px #5e0237;
}
.qOneCommander {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
}
.qImage {
    margin: -40px 0 40px 0;
}
.aParalase {
    width: 400px;
    perspective: 1200px;
    transform-style: preserve-3d;
    border-radius: 50%;
}
.pImage {
    width: 400px;
    height: 400px;
    background: url('https://avatars0.githubusercontent.com/u/59442237?s=460&u=015b51db4496b6c185b5fdcc298d68bf47b05201&v=4') no-repeat center;
    background-size: contain;
    border: 12px solid rgb(41,45,62);
    border-radius: 50%;
    box-shadow: 0 0 20px 10px #9c0c60;
    opacity: .92;
    transition: transform .2s ease-out;
}
.qText {
    position: relative;
    display: flex;
    max-width: 520px;
    width: 100%;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(41,45,62);
    border-radius: 60px;
    box-shadow: inset 0 0 10px 6px rgb(41,45,62), 0 0 10px 2px rgb(32,35,49);
}
h3.aBtn {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(41,45,62);
    box-shadow: 0 0 10px 6px rgb(41,45,62);
}
@keyframes moveDown {
    0% {
        height: 0;
        background-color:#EC407A;
    } 20% {
        background-color:#EF5350;
    } 40% {
        background-color:#EC407A;
    } 60% {
        background-color:#EF5350;
    } 80% {
        background-color:#EC407A;
    } 100% {

    }
}
@keyframes colorHex {
    0% {
        background-color:#EC407A;
    } 20% {
        background-color:#EF5350;
    } 40% {
        background-color:#EC407A;
    } 60% {
        background-color:#EF5350;
    } 80% {
        background-color:#EC407A;
    } 100% {}
}